USE [master]
GO
/****** Object:  Database [AEJT_WOTR]    Script Date: 11/03/2019 17:00:32 ******/
CREATE DATABASE [AEJT_WOTR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AEJT_WITR', FILENAME = N'D:\Microsoft SQL Server\MSSQL13.SIOI\MSSQL\DATA\AEJT_WITR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'AEJT_WITR_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL13.SIOI\MSSQL\DATA\AEJT_WITR_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AEJT_WOTR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AEJT_WOTR]
GO
/****** Object:  User [tgisclard]    Script Date: 11/03/2019 17:00:33 ******/
CREATE USER [tgisclard] FOR LOGIN [PRINCE\tgisclard] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [jboyer]    Script Date: 11/03/2019 17:00:33 ******/
CREATE USER [jboyer] FOR LOGIN [PRINCE\jboyer] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [ederidder]    Script Date: 11/03/2019 17:00:33 ******/
CREATE USER [ederidder] FOR LOGIN [PRINCE\ederidder] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [tgisclard]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [tgisclard]
GO
ALTER ROLE [db_owner] ADD MEMBER [jboyer]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ederidder]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ederidder]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 11/03/2019 17:00:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[idClie] [varchar](10) NOT NULL,
	[nomClie] [varchar](50) NULL,
	[prenomClie] [varchar](50) NULL,
	[dateNaissanceClie] [date] NULL,
	[pwdClie] [varchar](8) NULL,
	[codeAccesClie] [varchar](8) NULL,
	[villeClie] [varchar](50) NULL,
	[codePostaleClie] [varchar](50) NULL,
	[adresseClie] [varchar](50) NULL,
	[tellClie] [varchar](10) NULL,
	[mailClie] [varchar](50) NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[idClie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employe]    Script Date: 11/03/2019 17:00:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employe](
	[idEmp] [varchar](10) NOT NULL,
	[mailEmp] [varchar](50) NULL,
	[pwdEmp] [nchar](10) NULL,
	[nomEmp] [varchar](50) NULL,
	[prenomEmp] [varchar](50) NULL,
 CONSTRAINT [PK_Employe] PRIMARY KEY CLUSTERED 
(
	[idEmp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
